GROQ_API_KEY=
CHROMA_DB_DIR=./data/vectorstore
SQLITE_DB_PATH=./data/app.db
DATA_DIR=./data/raw_docs
REVIEWS_CSV_PATH=./data/reviews.csv
LLM_MODEL=llama-3.1-8b-instant
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5
